{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des factures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Montantht</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                <td>{{ facture.client }}</td>
                <td>{{ facture.adresse }}</td>
                <td>{{ facture.codePostal }}</td>
                <td>{{ facture.ville }}</td>
                <td>{{ facture.montantHT }}</td>
                <td>{% if facture.date %}{{ facture.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facture_show', { 'id': facture.id }) }}">Détail Facture</a>
                        </li>
                        <li>
                            <a href="{{ path('facture_edit', { 'id': facture.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_new') }}">Créer une nouvelle facture</a>
        </li>
    </ul>
{% endblock %}
